.alert-container
  overflow hidden
  transition all .5s

  &.alert-sm
    .alert
      padding .25rem .75rem
      padding-right 4rem

      .close
        padding .25rem .75rem

  &.mb-0 .alert
    margin-bottom 0

  .alert
    white-space pre-wrap
