.edge-date-time-picker,
.date-time-picker
  position: relative;
  line-height: 28px;

  .form-inline & {
    display: inline-block;
  }

  > button.close {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;

    &:focus {
      opacity: .2;
    }
  }

  &.disabled
    .date-time-picker-input
      color #959aa0

      &:focus
        border-color #ced4da
        box-shadow: none

input.date-time-picker-input.with-reset-button {
  padding-right: 25px;
}
.date-time-picker-popup
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  margin-top: 2px;
  z-index: 1000;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  padding: 10px 10px;
  width 220px

  span, p
    cursor: pointer;
    border-radius: 4px;

    &:hover
      background-color : #eeeeee;

  &.has-time
    display: flex;
    width: 436px;

    .left
      width: 50%;
      min-width 50%
      border-right: 1px solid #CCC;
      padding-right: 10px;
      margin-right: 10px;

    .right
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;


.date-time-picker-time
  align-items: center;

  .vertical-division
    font-size: 1.5em;

  span
    display: inline-block;
    font-size: 2.5em;
    line-height: 1.6;
    min-width: 2em;
    text-align: center;

    .has-second &
      min-width 1.5em

.date-time-picker-ctrl span,
.date-time-picker-dateRange span,
.date-time-picker-weekRange span {
  width: 28px;
}
.date-time-picker-hour,
.date-time-picker-minute {
  display: flex;
  flex-wrap: wrap;

  .date-time-picker-ctrl {
    flex-basis: 100%;
  }

  span {
    flex: 1 0;
    height: 28px;
  }
}
.date-time-picker-hour span {
  flex-basis: 16.66666%;
}
.date-time-picker-minute span {
  flex-basis: 10%;
}
.date-time-picker-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-time-picker-scroll
  display: flex;
  flex-direction: column;

  .btn
    border: none
    font-size 1.25em
    padding 0


.date-time-picker-dateRange,
.date-time-picker-weekRange,
.date-time-picker-monthRange,
.date-time-picker-hour,
.date-time-picker-minute {
  span {
    display: inline-block;
    text-align: center;
  }
}
.date-time-picker-monthRange span {
  width: 48px;
  height: 45px;
  line-height: 45px;
}
.date-time-picker-item-disable {
  background-color: white!important;
  cursor: not-allowed!important;
  color #AAA
  font-weight lighter
}
.decadeRange span:first-child,
.decadeRange span:last-child,
.date-time-picker-item-gray {
  color: #888;
}

.date-time-picker-dateRange-item-active:hover,
.date-time-picker-dateRange-item-active {
  background: rgb(50, 118, 177)!important;
  color: white!important;
}
.date-time-picker-monthRange {
  margin-top: 10px
}
.date-time-picker-weekRange span {
  font-weight: bold;
}
.date-time-picker-label {
  background-color: #f8f8f8;
  font-weight: 700;
  padding: 7px 0;
  text-align: center;
}
.date-time-picker-ctrl {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  span {
    line-height: 30px;
    position: absolute;
  }
}
.month-btn {
  font-weight: bold;
  user-select:none;
}
.date-time-picker-pre-button
  left: 2px;

.date-time-picker-next-button
  right: 2px;

.date-time-picker-pre-button,
.date-time-picker-next-button
  font-size 1.25em

.rotate-90
  transform rotate(90deg)
